@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,200;1,300;1,500;1,600;1,900&family=Sriracha&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:"Montserrat", Arial,Helvetica,sans-serif;
    overflow-x: hidden;
}

header{
    height:100px;
    background-color:black;
    color:white;

}
.header{
    max-width:1140px;
    height:100px;
    margin:auto;
    display:flex;
    align-items:center;
}

.logo{
    width:80px;
}
.logoimg img{
    width:80px;
    height:80px;
    padding:10px;
}
.menu{
    flex:1;
    display:flex;
    justify-content:flex-end;
}
.menu-opener{
    display:none;
}
.menu ul, .menu li{
    list-style:none;
    
}
.menu ul{
    display:flex;

}
.menu li a{
    color:white;
    text-transform:uppercase;
    font-weight: 500;
    text-decoration:none;
    display:flex;
    padding:10px 0px 0px 10px;
    height: 98px;
    align-items: center;
    border-bottom:5px solid #000000;

}
.menu li a:hover,.menu .active a{
    border-bottom:5px solid #B28756;
}
.menu li a:hover{
    color:grey;

}

.banner{
    height:calc(100vh - 100px);
    background-color:#333;
    background-image:url("../imagens/ícones/bg.jpg");
    background-size:cover;
    background-position:center;
    overflow:hidden;
}
.banner .sliders{
    width:1000vw;
    /*ALTEIREI ALGO AQUI FORA DE AULA*/
}
.banner .slide{
    width:100vw;
    height:100%;
    display:inline-block;
    background-color:rgba(0,  0, 0, 0.8);
}
.banner .slidearea{
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:white;
}
.banner h1{
    text-transform:uppercase;
    font-weight:bold;
    font-size:70px;
}
.banner h1 span {
    color: #b28756;
}
.banner h2{
    text-transform:uppercase;
    margin-top:20px;
}
.banner a ,.button{
    display:inline-block;
    text-transform:uppercase;
    text-decoration:none;
    background-color:#B28756;
    color:white;
    font-size:12px;
    padding:10px 30px;
    font-weight:500px;
    margin-top:30px;
    border-radius:20px;
}
.sliders-pointers{
    width:100vw;
    height:20px;
    position:absolute;
    margin-top:-120px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.banner .pointer{
    width:15px;
    height:15px;
    border-radius:8px;
    border:2px solid #B28756;
    margin:5px 0px 0px 10px;
    cursor:pointer;
}
.afastamento1{
    margin:-150px 0px 0px 10px;

}
.sliders-pointers .active{
    background-color:#B28756;
}
.default{
        padding:50px 0px 50px 0px;
}
.default .section-title, .default .section-desc{
    text-align:center;
    text-transform:uppercase;
    font-weight:bolder;
}
.default .section-title{
    font-size:20px;

}
.default .section-desc{
    font-size:12px;
    color:#aba8a8;
    margin:13px 0px 40px 0px;
    
    
}
.default .section-body{
    max-width:1140px;
    margin:auto; /*error esta dando*/
    
}
.default.light{
    background-color:#f7f7f7;

}
.default.light .section-title, .default.light .section-body{
    color:black;
}
.default.dark {
    background-color:black;
}
.default.dark .section-title, .default.dark .section-body{
    color:white;
}







/* CSS DE AREAS ESPECIFICAS */
.section-aboutus{
    display:flex;
}
.section-aboutus--left{
    flex:1;
    
}
.section-aboutus--left p{
    font-size:14px;
    line-height:25px;
    color:black;
}
.section-aboutus--right{
    width:500px;
    text-align:center;
}
.section-aboutus--right img{
    width:450px;
    box-shadow:0px 5px 10px #333;
}
.section-services{
    display:flex;
}
.section-service{
    flex:1;
    text-align:center;
    border-right:1px solid #333;
    padding:15px;

}
.section-service:first-child{
    border-left:1px solid #333;
}
.section-service h4{
    margin-top:20px;
    text-transform:uppercase;
    font-size:18px;

}
.section-service p{
    margin-top:10px;
    font-size:13px;
    color:#999;
    text-align:center;
}
.section-projects{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.section-projects--filters{
    border:1px solid #ccc;
    background-color:#eee;
    border-radius:30px;
    display:inline-block;
    padding:0px 20px;
    
}
.section-projects--filters ul, 
.section-projects--filters li {
    list-style:none;
}
.section-projects--filters li{
    display:inline-block;
    padding:10px;
    text-transform:uppercase;
    font-size:13px;
    border-left:1px solid #ccc;
    color:#555;
    border-bottom:3px solid #EEE;
    cursor:pointer;
}
.section-projects--filters li:hover,.section-projects--filters li.active{
    border-bottom:3px solid #B28756;
}
.section-projects--filters li:first-child{
    border-left:0;
}
.section-projects--photos{
    width:100vw;
    max-width:1140px;
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.section-projects--photo{
    width:280px;

}
.section-projects--photoarea{
    width:260px;
    height:160px;
    margin:10px;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display:flex;
}
.section-projects--photoarea img{
    width:inherit;
    height:inherit;

}
.section-projects--photoinfo{
    position:absolute;
    background-color:rgba(0,  0, 0, 0.5);
    width:inherit;
    height:inherit;
    display:none;
    justify-content:center;
    align-items:center;
    color:white;
    flex-direction:column;
}
.section-projects--photoinfo h5{
    font-size:18px;
    font-weight: bolder;
}
.segundoabaut{
    display:flex;
}
.bg-team{
    background-image:url("../imagens/ícones/bg.jpg");
    background-size:cover;
    background-position:center;
    padding:0;
}
.section-team{
    overflow: hidden;
    max-width:880px;
    margin:auto;
}
.section-team-area{
    background-color:rgba(0,  0, 0, 0.8);
    padding: 0px 53px 111px 50px;
}
.section-team-area .section-title{
    padding-top:50px;
}
.section-team .sliders{
    width:1000vw;
    height: 100%;
}
.section-team .slide{
    width:280px;
    height:100%;
    display:inline-block;
    background-color:#fff;
    margin-right:20px;
    height:300px;
}
.section-team .slidearea{
    display:flex;
    height:100%;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:black;
    padding:20px;
}
.seg .sliders-pointers{
    height:20px;
    margin-top:30px;
    margin-left: -240px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.seg .pointer{
    width:15px;
    height:15px;
    border-radius:8px;
    border:2px solid #B28756;
    margin:5px 0px 0px 10px;
    cursor:pointer;
}

.section-team .sliders-pointers .active{
    background-color:#B28756;
}
.section-team--name{
    text-transform:uppercase;
    font-weight:bolder;
    font-size:17px;
    margin-top:30px;
}
.section-team--avatar{
    width:150px;
    height:auto;
}
.section-team--role{
    font-size:14px;
    color:#999;
    margin-top:5px;
}
.section-team--social{
    display:flex;
    margin:20px 0px ;
}
.section-team--social a {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:25px;
    height:25px;
    background-color:#CCC;
    border-radius:13px;
    margin-right:10px;

}
.section-team--social a:hover{
    background-color:#B28756;
}
.roleescure{
    color:#5b5959;
    font-weight:bold;
}
.reduzindoelement{
    width:800px;
    text-align: center;
}
.aspasdupla{
    padding:20px;
}
.meiodadiv .sliders-pointers{
    height:20px;
    margin-top: 400px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.meiodadiv .pointer{
    width:15px;
    height:15px;
    border-radius:8px;
    border:2px solid #B28756;
    margin:5px 0px 0px 10px;
    cursor:pointer;
}
.logoempresas{
    display:flex;
    justify-content:center;
    align-items:center;
}
.logoempresas img{
    display:block;
    margin-left:30px;
    padding:30px;
}
.criarborda{
    border-top:2px solid #0000001f;;
    border-bottom:2px solid #0000001f;;
    padding:0;

}
.section-precos{
    display:flex;
}
.section-preco{
    padding: 30px;
    margin-left:30px;
    width:300px;
    height:auto;
    background-color:white;
    text-align:center;
    text-transform:uppercase;
}
#precos{
    background-color:#EDEDED;
}
.section-preco h2{
    color:#5b5959;
    font-size:13pt;
    text-transform:uppercase;
}
.section-preco h1{
    font-weight:bold;
    font-size:30px;
    padding:10px 0px 0px 0px;
    text-transform:uppercase;

}
.section-preco p{
    font-size:12px;
    color:#999;
    font-weight:bold;
    text-transform:uppercase;

}
.button-black{
    background-color:#333;
}
.button-black:hover{
    background-color:#B28756;

}
.segundoblack{
    background-color:#B28756;
}
.button-black:hover{
    background-color:#B28756;
}
.section-premium{
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: 2px solid #00000015;
}
.section-premium--titulo{
    display:flex;
    flex:1;

}
.section-premium--imagem{
    width:300px;
    height:350px;
    padding-bottom: 30px;
}
.section-premium--titulo h1{
   margin-left:15px;
   color:#000000;
}
.section-premium--paragrafos{
  margin-left:50px;
  padding-bottom:17px;
  color:#999;
  line-height:20px;
}
.section-premium--texto{
    margin-bottom:15px;
    color:#555;
    font-size:13px;
}
.semespaco-premium{
    line-height:10px;
}
.texte{
    padding:50px 0px 0px 0px;
}
.abaisection1  .sliders-pointers{
    height:20px;
    margin-top:30px;
    margin-left: -240px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.abaisection1 .pointer{
    width:15px;
    height:15px;
    border-radius:8px;
    border:2px solid #B28756;
    margin:90px 0px 0px 10px;
    cursor:pointer;
}
.button-desce{
    margin-top:70px;
}
.ndourados{
    color:#B28756;
    font-size:50px;
}
.serviceborda, .serviceborda:first-child{
    border:none;
}
.retangulo{
    margin:10px;
    width: 20px;
    height: 3px;
    margin: auto;
    background-color:#999;
}
.meiodadiv{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.abaisection a{
    text-decoration:none;
    color:white;

}
.abaisection{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.menordefault{
    padding: 20px 100px 20px 0px;
}
.section-redess{
    display:flex;   
    justify-content:center;
    align-items: center;
}
.section-redess-p{
    display:inline;
    padding-right:20px;
    padding-top:10px;
    color:#AFAFAF;;
    font-size:13px;
    font-weight:bold;

}
.afastamento-redess{
    justify-items: flex-end;
}
.section-redess-cada  a{
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 13px 3px 6px 4px;
    width:40px;
    border-radius: 30px;
    
}
.section-redess-cada{
    padding-left:15px;
    display: flex;
}
.section-redess-cada  p{
    display:inline;
    font-size:11px;
    display: flex;
    align-items: center;
    padding-left:5px;
    color:#5b5959;
}
.pinterest {
    background-color:#DF0E2E;
    border-radius: 30px;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
}
.twitter {
    background-color:#1C9CEA;
    border-radius: 30px;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;

}
.linkedin {
    background-color:#0075B3;
    border-radius: 30px;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;

}
.facebook {
    background-color:#395599;
    border-radius: 30px;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;

}
.googleplus{
    background-color:#E94136;
    border-radius: 30px;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
}
.form-body {
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
}

#name,
#email,
#subject,#mensagem{
    outline:none;
    border:none;
    border-bottom:2px solid #AFAFAF;

    width:330px;
    margin-right:40px;
    padding-top:40px;
    

}
.pule{
   flex-direction: column;
   text-align: left;
   padding-left:100px;

}
   
#mensagem{
    padding-top:100px;

}
#subject,#mensagem{
    width:700px;
    margin-right:0px;


}
#name::placeholder, #email::placeholder, #subject::placeholder, #mensagem::placeholder{
    font-size:13px;
    font:Arial;
    color:#AFAFAF;
    

}
.centralizarbottao{
    padding-top:60px;
    text-align:center;
}
.center:hover{
    background-color:#333;
    transition: calc(0.5s);

}
#name:hover, #email:hover, #subject:hover, #mensagem:hover{
    transition: calc(1s);
    border-bottom:3px solid #B28756;
}
.section-map{
    background-image:url("/projetoajax/media/complements/mapa.jpg");
    background-size:cover;
    background-position:center;
    padding-top:30px;
    padding-bottom:30px;
}
.section-map--area{
    width:100vw;
    max-width:1140px;
    margin:auto;
}
.section-map--info{
    width:50%;
    padding:30px;
    background-color:white;
    color:black;
}
.section-map--info-item{
    display:flex;
    align-items:center;
    margin-bottom:10px;
}
.section-map--info-item-img{
    width:30px;
    height:30px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding:5px;
    background-color:#999;
    border-radius:15px;
    margin-right:15px;
}
.section-map--info-item-img img{
    width:15px;
    height:auto;
}
 /*FOOTER*/
 .footerblack{
    background-color:black;
    color:white;
 }
 
 .section-footer-info{

    max-width:1140px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:250px;
 }
 .primeira-footer{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    
    
 }
 .footer-incones{
    display:flex;
    justify-content: space-between;

}

 .footer-primeira p{
    display:flex;
 }
 .footer-primeira{
    height: 200px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;

 }
 .footer-img{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    width:30px;
    height:30px;
    background-color:#333;
    margin-left:10px;

 }
 .footer-img:hover{
    background-color:#B28756;
    transition: (2s);
 }
 .footer-texto{
    margin-left:100px;
    font-size:13px;
    color:rgb(158, 157, 157);
    width:370px;
    height: auto;
    padding:30px;
 }
 #textoemail{
    background-color:#333333;
    color:white;
    border:0;
    outline:none;
    border-bottom:2px solid #AFAFAF;
    padding-left:10px;
    padding-right:10px;
    
}
#textoemail:hover{
    border-bottom:2px solid #B28756;

}
#textoemail::placeholder{
    text-align:center;
    font-size:15px;
    color:#AFAFAF;
}
.formulariocolorido{
    display:flex;
    justify-content:center;
    align-items:center;
}
 .footer-segunda{

    display:flex;
    justify-content: end;
 }
 .footer-formulario{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;

 }
.formulariocolorido{
    border-radius:5px;
    background-color:#333333;
    height: 200px;
    width:350px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}
.formulariobutao:hover{
    background-color:#AFAFAF;
    transition: (2s);
}



/*USANDO O MEDIA QUERY*/
@media (min-width:450px) and (max-width:800px){
    
    nav{
        display:none;
        position:absolute;
        z-index:99;
        background-color:rgba(0, 0, 0, 0.9);
        width:70vw;
        height:calc(100vh - 100px);
        top:100px;
        right:0;
    }
    .banner h1 {
        font-size:30px;
    }
    .logo{
        margin-left:30px;
    }

    .menu ul{
        flex-direction:column;
    }
    .menu li a{
        font-weight:bold;
        height:80px;
        font-size:25px;
        margin-left:50px;
        border:0;
    }
    .menu li.active a{
        border:0;
        color:#B28756;
    }
    .menu-opener{
        width:45px;
        margin-right:30px;
        display:block
    }

    .section-aboutus{
        flex-direction:column;
    }
    .section-aboutus--left{
        margin:30px 30px 0px 30px;
    }
    .section-aboutus--right  {
        width:auto;
    }
    .section-services {
        flex-wrap:wrap;
    }
    .section-service{
        min-width:50%;
        margin-bottom:30px;
    }  
    .section-service:first-child{
        border-left:0;
    }

    .section-service p {
        font-size:15px;
    }
    .section-service h4 {
        font-size: 25px;
    }
    .seg .sliders-pointers {
    margin-left: -60px;}
    .section-team{
        max-width:580px;
    }
    .meiodadiv {
        width: 400px;
    }
    .logoempresas {
        flex-wrap:wrap;
    }
    .section-precos{
        flex-wrap:wrap;
    }
    .section-preco {
        margin-left: 0;
        min-width: 300px;
        max-width:600px;
        margin:auto;
    }
    .pule{
        display: block;
        width:150px;

    }
    #name, #email, #subject, #mensagem {
        width:150px;
    }
    .meiodadiv .sliders-pointers{
        margin-top: 550px;

    }
    .section-map--area{
        width:auto;
    }
    .section-map{
        
        padding-left: 30px;
        padding-right:30px;
    }
    .section-map--info{
        width:auto;
    }
    .section-map--info-item{
        margin-bottom:20px;
    }
    .section-map--info-item:last-child{
        margin-bottom:0;
    }
    .section-footer-info {
        flex-direction:column;
        height:auto;
        padding: 30px;;}
    .footer-texto{
        padding-top: 30px;
        padding-bottom:30px;
    }
    .formulariocolorido{
        margin-left: 130px;
    }
    .banner a, .button{
        margin-bottom:30px;
    }
}
















/*CELULAR*/

@media  (max-width:450px){
    .logo{
        margin-left:30px;
    }
    nav{
        display:none;
        position:absolute;
        z-index:99;
        background-color:rgba(0, 0, 0, 0.9);
        width:80vw;
        height:calc(100vh - 100px);
        top:100px;
        right:0;
    }
    .menu ul{
        flex-direction:column;
    }
    .menu li a{
        font-weight:bold;
        height:60px;
        font-size:20px;
        margin-left:30px;
        border:0;
    }
    .menu li.active a{
        border:0;
        color:#B28756;
    }
    .menu-opener{
        width:45px;
        margin-right:30px;
        display:block
    }
    .banner h1 {
        font-size:20px;
    }
    .banner h2{
        font-size:15px;
    }
    .section-aboutus{
        flex-direction:column;
    }
    .section-aboutus--left{
        margin:30px 30px 0px 30px;
    }
    .section-aboutus--right  {
        width:auto;
        margin-left:30px;
        margin-right:30px;

    }
    .section-aboutus--right  {
        width:100%;
    }
    .section-services {
        flex-wrap:wrap;
    }
    .section-service{
        min-width:100%;
        margin-bottom:30px;
    }  
    .section-service:first-child{
        border-left:0;
    }
    .section-projects--filters{
        margin-left:30px;
        margin-right:30px;
    }
    .section-projects--photos{
        width:320px;
    }
    .section-projects--photoarea{
        width:300px;
        height:190px;
    }
    .section-service p {
        font-size:15px;
    }
    .section-service h4 {
        font-size: 25px;
    }
    .seg .sliders-pointers {
    margin-left: -60px;}
    .section-team{
        max-width:280px;
    }
    .meiodadiv {
        width: 400px;
    }
    .logoempresas {
        flex-wrap:wrap;
    }
    .section-precos{
        flex-wrap:wrap;
    }
    .section-preco {
        margin-left: 0;
        min-width: 300px;
        max-width:600px;
        margin:auto;
    }
    .pule{
        display: block;
        width:150px;

    }
    #name, #email, #subject, #mensagem {
        width:150px;
    }
    .meiodadiv .sliders-pointers{
        margin-top: 550px;

    }
    .section-map--area{
        width:auto;
    }
    .section-map{
        
        padding:0;
        padding-bottom:250px;
    }
    .section-map--info{
        width:auto;
    }
    .section-map--info-item{
        margin-bottom:20px;
    }
    .section-map--info-item:last-child{
        margin-bottom:0;
    }
    .section-footer-info {
        flex-direction:column;
        height:auto;
        padding: 30px;;}
    .footer-texto{
        padding-top: 30px;
        padding-bottom:30px;
    }
    .formulariocolorido{
        margin-left: 130px;
    }
    .banner a, .button{
        margin-bottom:30px;
    }
}